{% extends "base.html" %}
{% block css -%}
<style type="text/css">
p{
    color:#2d2d2d;
    /*text-align:center;*/
    line-height: 1.6em;
    margin:1em 0 0 0;
}
.banner {
    background-color:#0078e7;
    text-align: center;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}
.l-box {
    padding: 0.5em 1em;
}
.information {
    max-width: 800px;
    margin: 0 auto;
}
.information-head {
    color: black;
    font-weight: 500;
}

</style>
{% endblock -%}
{% block bodytag -%}
<body onload="document.getElementById('u').focus();">
{% endblock -%}
{% block content -%}
    <div class="pure-g-r">
      <img src="http://qn.zhangyongcun.com/blog_img/20171021152324_lCtQHy_1.jpeg"  style="width:100%; text-align:center">
     <br>
    <img src="http://qn.zhangyongcun.com/blog_img/20171021152542_9A8oX3_A.jpeg" style="width:100%; text-align:center">
    <img src="http://qn.zhangyongcun.com/blog_img/20171021152546_hkGS5w_B.jpeg" style="width:100%; text-align:center"> 
    <img src="http://qn.zhangyongcun.com/blog_img/20171021152549_gdYaW9_C.jpeg" style="width:100%; text-align:center">
    <img src="http://qn.zhangyongcun.com/blog_img/20171021152556_37peL1_D.jpeg" style="width:100%; text-align:center">       
    
    </div>
    </div>
{% endblock -%}